Repository dxfg/enarx, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, backend, kvm, amd sev, intel sgx, wasm, client, testing, sallyport, config

feat: add `enarx config init`
  crates/enarx-config/src/lib.rs
  src/cli/config/init.rs
  src/cli/config/mod.rs
  src/cli/mod.rs
  tests/client/mod.rs
Labels: client, testing, config

init cet
  crates/shim-kvm/src/cet.rs
  crates/shim-kvm/src/main.rs
Labels: kvm, amd sev

building cet
  crates/shim-kvm/src/cet.rs
  crates/shim-kvm/src/lib.rs
Labels: kvm, amd sev

fixed ss bit check
  crates/shim-kvm/src/cet.rs
Labels: kvm, amd sev

add cr0 write protect flag for kvm cet support
  crates/shim-kvm/src/allocator.rs
  crates/shim-kvm/src/cet.rs
  crates/shim-kvm/src/hostcall.rs
  crates/shim-kvm/src/main.rs
Labels: kvm, amd sev

passing cargo kvm tests
  crates/shim-kvm/src/cet.rs
Labels: kvm, amd sev

feat(sallyport): add SEV-SNP keep notes
  crates/sallyport/src/elf.rs
Labels: sallyport

feat(shim-kvm): add SEV-SNP elf notes
  crates/shim-kvm/Cargo.toml
  crates/shim-kvm/src/main.rs
  crates/shim-kvm/src/snp/launch.rs
  crates/shim-kvm/src/snp/mod.rs
Labels: kvm, amd sev

feat: add `enarx sign` and `--signatures` option
  Cargo.lock
  Cargo.toml
  crates/shim-kvm/src/main.rs
  src/backend/binary.rs
  src/backend/kvm/mod.rs
  src/backend/mod.rs
  src/backend/nil.rs
  src/backend/sev/builder.rs
  src/backend/sev/config.rs
  src/backend/sev/hasher.rs
  src/backend/sev/mod.rs
  src/backend/sev/snp/launch/linux.rs
  src/backend/sev/snp/launch/mod.rs
  src/backend/sev/snp/mod.rs
  src/backend/sev/snp/sign.rs
  src/backend/sgx/builder.rs
  src/backend/sgx/config.rs
  src/backend/sgx/hasher.rs
  src/backend/sgx/mod.rs
  src/cli/deploy.rs
  src/cli/mod.rs
  src/cli/run.rs
  src/cli/sign.rs
  src/cli/unstable/exec.rs
  src/exec/mod.rs
  tests/data/sev-author.key
  tests/data/sev-id.key
  tests/data/sgx-test.key
  tests/sgx-test.key
  tests/wasm/mod.rs
Labels: backend, kvm, amd sev, intel sgx, client, testing

feat: add enarx key functionality
  src/cli/key/key.rs
  src/cli/key/mod.rs
  src/cli/key/sev/digest.rs
  src/cli/key/sev/mod.rs
  src/cli/mod.rs
Labels: client

.github/labeler.yml:

infrastructure:
- .github/**/*
- helper/**/*

backend:
- src/backend/**/*

kvm:
- crates/shim-kvm/**/*
- src/backend/kvm/**/*

amd sev:
- crates/shim-kvm/**/*
- src/backend/sev/**/*

intel sgx:
- crates/shim-sgx/**/*
- src/backend/sgx/**/*

wasm:
- crates/exec-wasmtime/**/*
- crates/exec-wasmtime-bin/**/*
- tests/crates/enarx_wasm_tests/**/*
- tests/enarx_wasm_tests.rs

client:
- src/cli/**/*

testing:
- tests/**/*

sallyport:
- crates/sallyport/**/*

config:
- crates/enarx-config/**/*
